<!doctype html>

{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Ace CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/ace_styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">




    <title>CodeSweep</title>
  </head>
  <body>
      <nav class="bg-info navbar navbar-expand-lg navbar-light justify-content-end">
          <div class="navbar-nav">
            <a class=" btn btn-info text-white nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="btn btn-info text-white nav-item nav-link" href="/assignments/">Assignments</a>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
          </div>
      </nav>
      <div class="container mt-5 mb-5">
          <div class="row justify-content-between">
              <div class="col col-lg-8 mb-5">
                  {% if assignment %}
                  <h1 class="display-4 mb-4">{{ assignment.title }}</h1>
                  <p class="lead mb-4">{{ assignment.description }}</p>
                  <a class="btn btn-info mb-5" href="/media/{{ assignment.instructions_file}}">Instructions</a>
                  <!-- <canvas id="pdf-canvas"></canvas> -->
                  {% endif %}
                  <div id="editor" class="ace-dawn mx-auto"></div>
                  <div>
                      <button id="submit-button" class="btn btn-outline-success float-right">Run Code</button>
                  </div>
              </div>
          </div>



      </div>


    <!-- Bootstrap JavaScript Imports-->
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


    <!-- PDF.js -->
    <script type="text/javascript" src="../../static/scripts/pdf.js-1.9.426-dist/build/pdf.js" charset="utf-8"></script>
    <!-- Ace -->
    <script type="text/javascript" src="../../static/scripts/ace/ace.js" charset="utf-8"></script>
    <script>

        // -------- setup editor ----------- //
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
        editor.setValue("def {{ assignment.function_name }}(num):\n\t#insert code here\n\t")
        editor.gotoLine(3);
        editor.getSession().setTabSize(4);


        // -------- submit code ----------- //
        $(document).ready(function(){
            $('#submit-button').click(function(){
                var text = editor.getValue()

                $.ajax({
                    url: '/assignments/submit/',
                    type: "POST",
                    data:
                    {
                        "code_text": JSON.stringify(text),
                        "assignment_title": "{{ assignment.title }}",
                        "user": "{{ request.user.username }}",
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                });
            });
        });

        // -------- PDF.js ----------- //




        // // The workerSrc property shall be specified.
        // PDFJS.workerSrc = '{{ assignment.instructions_file}}';
        //
        // var pdfDoc = null,
        //     pageNum = 1,
        //     pageRendering = false,
        //     pageNumPending = null,
        //     scale = 0.8,
        //     canvas = document.getElementById('the-canvas'),
        //     ctx = canvas.getContext('2d');
        //
        // /**
        //  * Get page info from document, resize canvas accordingly, and render page.
        //  * @param num Page number.
        //  */
        // function renderPage(num) {
        //   pageRendering = true;
        //   // Using promise to fetch the page
        //   pdfDoc.getPage(num).then(function(page) {
        //     var viewport = page.getViewport(scale);
        //     canvas.height = viewport.height;
        //     canvas.width = viewport.width;
        //
        //     // Render PDF page into canvas context
        //     var renderContext = {
        //       canvasContext: ctx,
        //       viewport: viewport
        //     };
        //     var renderTask = page.render(renderContext);
        //
        //     // Wait for rendering to finish
        //     renderTask.promise.then(function() {
        //       pageRendering = false;
        //       if (pageNumPending !== null) {
        //         // New page rendering is pending
        //         renderPage(pageNumPending);
        //         pageNumPending = null;
        //       }
        //     });
        //   });
        //
        //   // Update page counters
        //   document.getElementById('page_num').textContent = num;
        // }
        //
        // /**
        //  * If another page rendering in progress, waits until the rendering is
        //  * finised. Otherwise, executes rendering immediately.
        //  */
        // function queueRenderPage(num) {
        //   if (pageRendering) {
        //     pageNumPending = num;
        //   } else {
        //     renderPage(num);
        //   }
        // }
        //
        // /**
        //  * Displays previous page.
        //  */
        // function onPrevPage() {
        //   if (pageNum <= 1) {
        //     return;
        //   }
        //   pageNum--;
        //   queueRenderPage(pageNum);
        // }
        // document.getElementById('prev').addEventListener('click', onPrevPage);
        //
        // /**
        //  * Displays next page.
        //  */
        // function onNextPage() {
        //   if (pageNum >= pdfDoc.numPages) {
        //     return;
        //   }
        //   pageNum++;
        //   queueRenderPage(pageNum);
        // }
        // document.getElementById('next').addEventListener('click', onNextPage);
        //
        // /**
        //  * Asynchronously downloads PDF.
        //  */
        // PDFJS.getDocument(url).then(function(pdfDoc_) {
        //   pdfDoc = pdfDoc_;
        //   document.getElementById('page_count').textContent = pdfDoc.numPages;
        //
        //   // Initial/first page rendering
        //   renderPage(pageNum);
        // });



    </script>
</body>
</html>
