<!doctype html>

{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">



    <title>CodeSweep | {{ assignment.title }}</title>
  </head>
  <body>
      <nav class="bg-info navbar navbar-expand-lg navbar-light justify-content-end">
          <div class="navbar-nav">
            <a class=" btn btn-info text-white nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="btn btn-info text-white nav-item nav-link" href="/assignments/">Assignments</a>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
          </div>
      </nav>
      <div class="container-fluid mt-5 mb-5">
          <div class="row justify-content-start">
              <div class="col col-lg-6 offset-md-1">
                  <h1 class="display-4">{{ assignment.title }}</h1>
              </div>
          </div>
          <div class="row justify-content-center mb-4">
              <div class="col-lg-6">
                  {% if assignment.description %}
                  <p class="lead mb-4">{{ assignment.description }}</p>
                  {% endif %}
              </div>
              <div class="col-3 offset-md-1">
                  <div class="list-group">
                      <li class="list-group-item">
                          Attachments
                      </li>
                      <a href="/media/{{ assignment.instructions_file }}" class="list-group-item list-group-item-action">Title</a>
                      <a href="#" class="list-group-item list-group-item-action">Title</a>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-7  mb-5">
                  <div id="editor" class="ace-dawn"></div>
                  <button id="submit-button" class="btn btn-info mt-3">Run Code</button>
              </div>
              <div class="col-4">
                  <div class="card" id="error-card">
                      <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item">
                                  <a class="nav-link active" href="#console" data-toggle="tab" id="console-tab">Runtime Errors</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#outputs" data-toggle="tab" id="outputs-tab">Results</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#comments" data-toggle="tab">Comments</a>
                              </li>
                          </ul>
                      </div>
                      <div class="card-body">
                          <div class="tab-content">
                              <div class="tab-pane active in" id="console"></div>
                              <div class="tab-pane fade" id="outputs"></div>
                              <div class="tab-pane fade" id="comments">
                                  <div class="row align-items-center justify-content-between">
                                      <svg id="comment_progress" class="pt-4 col" width="200" height="200" viewBox="0 0 200 200">
                                           <!-- grey circle -->
                                           <circle id="outline_circle" cx="100" cy="100" r="94" fill="none" stroke="#e6e6e6" stroke-width="12" />
                                           <!-- orange circle -->
                                           <circle id="progress_circle" cx="100" cy="100" r="94" fill="none" stroke="#f77a52" stroke-linecap="round" stroke-width="12" stroke-dasharray="590.6194189" stroke-dashoffset="590.6194189"/>
                                       </svg>
                                       <div id="comment_percentage" class="display-4 col text-center"></div>
                                  </div>
                                   <small id="comment-text" class="text-muted pt-3 w-50 d-block">
                                       ** The required comment/code ratio for this assignment is {{ assignment.comment_to_code_ratio }}%
                                   </small>
                           </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


    <!-- Bootstrap JavaScript Imports-->
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- Ace -->
    <script type="text/javascript" src="../../static/scripts/ace/ace.js" charset="utf-8"></script>
    <script>

        // -------- setup editor ----------- //
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/python");
        editor.setValue("def {{ assignment.function_definition }}(num):\n\t#insert code here\n\t")
        editor.gotoLine(3);
        editor.getSession().setTabSize(4);


        // -------- submit code ----------- //
        $(document).ready(function(){
            $('#submit-button').click(function(){
                var text = editor.getValue()

                $.ajax({
                    url: '/assignments/submit/',
                    type: "POST",
                    data:
                    {
                        "code_text": JSON.stringify(text),
                        "assignment_title": "{{ assignment.title }}",
                        "user": "{{ request.user.username }}",
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },

                    // retrieve data and write to tab bodies
                    success: function(data){
                        // write errors to error tab
                        if (data.error) {
                            $('#console').text(data.error);
                            // trigger click to go to tab
                            $('#console-tab').trigger('click');
                            // if it's there, remove muted text and add
                            // red text
                            $('#console').removeClass("text-muted");
                            $('#console').addClass("text-danger");

                        }
                        else {
                            $('#console').text("There were no runtime errors");
                            // if it's there, remove red text and add
                            // muted text
                            $('#console').removeClass("text-danger");
                            $('#console').addClass("text-muted");
                        }

                        // write outputs to output tab
                        if (data.output) {
                            $('#outputs').text(data.output);
                            // trigger click to go to tab
                            $('#outputs-tab').trigger('click');
                        }
                        else {
                            $('#outputs').text("");
                        }

                        if (data.comment_ratio) {
                            var comment_percentage = data.comment_ratio;
                            comment_percentage = comment_percentage.toFixed(2);
                            // change color of ring
                            if (comment_percentage*100 < {{ assignment.comment_to_code_ratio }}) {
                                $('#progress_circle').attr("stroke", "#D72E3D")
                            } else {
                                $('#progress_circle').attr("stroke", "#249D3D")
                            }

                            $('#comment_percentage').text((comment_percentage*100) + '%');
                            stroke_ratio = 590.6194189 * (1 - comment_percentage);
                            $('#progress_circle').attr("stroke-dashoffset", stroke_ratio);
                        }
                    }
                });
            });
        });



        // drag and drop files
        var dropzone = document.getElementById('editor')
        dropzone.ondragover = function() {
            //this.className = 'dropzone dragover';
            return false;
            console.log(e.datatransfer.files)
        }

        dropzone.ondragleave = function() {
            // this.className = 'dropzone';
            return false;
        }

        dropzone.ondrop = function(e) {
            e.preventDefault();

            var file = e.dataTransfer.files[0];
            reader = new FileReader();
            reader.onload = function(event){
                 editor.setValue(event.target.result)
            }
            reader.readAsText(file)
        }

        var ProgressBar = require('progressbar.js')
        var ProgressBar = new ProgressBar.Circle('#comments', {
            strokeWidth: 2
        });


    </script>
</body>
</html>
