#editor {
    height: 400px;
    width: 100%;
    border: 5px solid #E8E8E8;
    border-radius: 4px 4px 0 0;
}

#console {
    white-space: pre-line;
    color: red;
    position: relative;
}

#outputs {
    white-space: pre-line;
}

#comment_progress {
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;
}

#correct-icon {
    display: inline;
    float: right;
    color: green;
    font-size: 30px;
    padding-top: 5px;
}

#incorrect-icon {
    display: inline;
    float: right;
    color: red;
    font-size: 30px;
    padding-top: 5px;
}
